.header-section {
  height: 800px;
}

.header-container {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.a {
  fill: $accent;
}

.container {
  width: 100%;
  max-width: 1599px;
  margin: 0 auto;
  height: 100%;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 215px;
}

.search-box {
  flex: 1;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0 5px 0;
}

.search {
  display: flex;

  &__icon {
    margin: 8px 30px 0 0;
    .a {
      fill: $text;
    }
  }

  &__text {
    line-height: 35px;
  }
}

.house-group {
  margin-right: 6px;

  &__icon {
    .a {
      fill: #333;
      font-size: 18px;
      font-family: 'Open Sans';
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    .a::selection {
      color: #FFF
    }
    .b {
      fill: $accent;
    }
  }

  &__mobile-icon {
    display: none;
    .a {
      fill: #333;
      font-size: 16px;
      font-family: Montserrat-Bold, Montserrat 'Open Sans';
      font-weight: 700;
    }
    .b {
      fill: $accent;
    }
  }
}

.top-menu-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 340px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2px 40px 0px -1px;
  }
  
  &__link {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: $text;
    position: relative;
    &:hover {
      text-decoration: none;
      color: $text;
      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text;
      }
    }
  }

  &__button {
    padding: 1px 0 7px 40px;
    .a {
      fill: $text;
    }
  }
}

.header-content-wrap {
  display: flex;
  align-items: flex-end;
  height: 100%;
  position: relative;
  padding: 0 275px 200px 215px;
}

.header-content-box {
  flex: 1;
  max-width: 750px;
}

.header-content {
  &__head {
    font-family: 'Open Sans';
    font-size: 72px;
    font-weight: 800;
    color: $text;
    line-height: 1.2;
    letter-spacing: 0.55px;
    span {
      color: $accent;;;
    }
  }

  &__text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: $text;
    margin: 49px 0 117px 0px;
    max-width: 450px;
    line-height: 1.5;
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    
    &:hover {
      .a {
        fill: $text;
      }
      .b {
        fill: $white;
      }
    }

    &:active {
      .a {
        fill: $white;
        stroke: $text;
      }
      .b {
        fill: $text;
      }
    }
    .a {
      fill: $accent;
    }
    .b {
      fill: $white; 
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight:700;
    }
  }
}
.socials-box {
  flex: 0 1 270px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.socials {
  width: 100px;
  display: flex;
  justify-content: space-between;
  &__icon {
    &:hover {
      & .a {
        fill: $accent;
        cursor: pointer;
      }
    }
    .a {
      fill: $text;
    }
  }
}

@media (max-width: 1599px) {
  .top-header {
    padding: 0 10%;
  }

  .search-box {
    max-width: 350px;
  }

  .header-content-wrap {
    padding: 10% 12% 10% 10%;
  }
  
  .header-section {
    height: auto;
  }

  .header-content{
    &__head {
      font-size: 55px;
    }
  }
}
@media (max-width: 1200px) {
  .top-menu-box {
    max-width: 250px;
  }

  .top-menu {
    &__list {
      margin: 0;
    }
  }

  .search {
    margin-right: 30px;
  }

  .search-box {
    justify-content: flex-start;
  }

  .header-content-wrap {
    height: auto;
  }

  .header-content-box {
    margin: 10% 0 0 7%;
  }

  .header-content{
    &__box {
      max-width: 700px;
    }
  }

  .socials-box {
    flex: 0 1 auto;
  }
}

@media (max-width: 900px) {
  .header-section {
    height: auto;
  }

  .socials-box {
    display: none;
  }

  .top-menu {
    &__link {
      display: none;
    }
  }

  .header-content-wrap {
    height: auto;
    justify-content: flex-start;
  }
  
  .header-content {
    &__head {
      font-size: 40px;
    }

    &__text {
      margin: 46px 0 60px 0px;
    }
  }
}

@media (max-width: 500px) {
  .search {
    display: none;
  }

  .house-group {
    &__icon {
      display: none;
    }

    &__mobile-icon {
      display: block;
    }
  }

  .header-content-wrap {
    padding: 15px 12px 60px 15px;
  }

  .header-content-box {
    margin: 0;
  }

  .header-content {
    &__head {
      font-size: 28px;
    }
    &__text {
      margin: 35px 0 40px 0px;
      font-size: 14px;
    }
  }

  .top-header {
    padding: 0 15px;
  }
  
}
@media (max-width: 320px) {
    
}
// End Header

// Our Services

.services-wrap {
  padding: 117px 0 146px 215px;
  background: url(../img/services_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.services-head {
  font-size: 70px;
  font-weight: 800;
  color: $white;
  letter-spacing: 0.7px;
}

.service-box {
  display: flex;
  flex-flow: row wrap;
  margin: 60px 0 0 0;
}

.service {
  color: $white;
  flex: 0 1 377px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    color: $white;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.2;
    max-width: 240px;
    margin: 0 0 32px 0;
    letter-spacing: 0.35px;
  }

  &__text {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 45px 0px;
    line-height: 1.55;
    max-width: 240px;
    letter-spacing: 0.2px;
  }

  &__more {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: $accent;
    }
  }
}

@media (max-width: 1599px) {
  .services-head {
    font-size: 50px;
  }

  .services-wrap {
    padding: 5% 0 8% 8%;
  }

  .service {
    flex: 0 1 320px;

    &__title {
      font-size: 28px;
    }

    &__more {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
@media (max-width: 1200px) {
  .services-wrap {
    padding: 5% 0 8% 5%;
  }
  
  .service {
    flex: 1;
    min-width: 250px;
    margin-bottom: 50px;
    
    &__text {
      margin: 0 0 10px 0;
    }

    &__more {
      
    }
  }
}
@media (max-width: 900px) {
  .services-head {
    font-size: 34px;
    margin-top: 20px;
  }

  .services-wrap {
    justify-content: center;
  }

  .service-box {
    justify-content: space-around;
  }

  .service {
    flex: 1;
    min-width: 250px;
    
    &__title {
      font-size: 24px;
      margin: 15px 0 15px 0;
    }

    &__text {
      font-size: 14px;
      margin: 0 0 15px 0;
    }

    &__more {
      font-size: 16px;
    }
  }
}
@media (max-width: 550px) {
  .service-box {
    margin: 10px 0 0 0;
  }

  .services-wrap {
    padding: 5% 5% 25px 5%;
  }

  .service {
    flex: 1;
    max-width: none;
    margin-bottom: 35px;

    &__title {
      max-width: none;
      font-size: 20px;
    }

    &__text {
      max-width: none;
      font-size: 14px;
    }

    &__more {
      max-width: none;
      font-size: 16px;
    }
  }
}
// End Our services

// Text Block

.info-text-box {
  display: flex;
  justify-content: center;
  padding: 190px 200px 169px 200px;
}

.info-title {
  flex: 1;
  margin: 0 15px 0 15px;

  &__text {
    font-weight: 800;
    font-size: 24px;
    color: $text;
    line-height: 1.49;
    letter-spacing: 0.23px;
    max-width: 530px;
  }
}

.info-text {
  flex: 1;
  margin: 0 15px 0 15px;

  &__text {
    margin: 0;
    font-size: 18px;
    color: $text2;
    letter-spacing: 0.17px;
    max-width: 476px;
    line-height: 1.45;
  }
}
@media (max-width: 1599px) {
  .info-text-box {
    padding: 190px 150px 169px 150px;
  }
}

@media (max-width: 1200px) {
  .info-text-box {
    padding: 160px 15% 140px 15%;
  }

  .info-text {
    &__text {
      max-width: none;
    }
  }

  .info-title {
    &__text {
      max-width: none;
    }
  }
}

@media (max-width: 900px) {
  .info-text-box {
    padding: 80px 10% 70px 10%;
  }
}
@media (max-width: 700px) {
  .info-text-box {
    flex-direction: column;
    padding: 40px 15px;
  }
}
@media (max-width: 500px) {
  .info-text-box {
    flex-direction: column;
    padding: 40px 15px;
  }  
  .info-title {
    flex: 0 1 100%;
    margin: 0;

    &__text {
      font-size: 18px;
      margin: 0 0 20px 0;
    }
  }
  .info-text {
    flex: 0 1 100%;
    margin: 0;

    &__text {
      font-size: 16px;
    }
  }
}
// End Text Block

// Video Block
.video-box {
  display: flex;
  align-items: stretch;
  padding-bottom: 169px;
}

.video-wrap {
  flex: 0 1 50%;
  width: 100%;
  height: auto;
}
.video-text-box {
  flex: 0 1 50%;
  padding: 0 0 0 116px;
}
.video-text {
  margin-bottom: 54px;
  max-width: 393px;
  &:nth-child(2) {
    &__title {
      line-height: 2;
    }
  }

  &:last-child {
    margin-bottom: 0;
    line-height: 2;
    margin-bottom: 10px;
    letter-spacing: 0px;
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 14px;
    letter-spacing: 0.15px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin: 0 0 2px 0;
  }
}
.video-player {
  padding: 2px 15px 0 0;
  position: relative;
  height: 100%;
  margin-left: -2px;
  .plyr,
  .plyr__video-wrapper{
    height: 100%;
    max-height: 686px;
  }
  
  button:focus {
    outline: none;
    border: none;
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 87px;
  }

  &__progress {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: $accent;
  }
  &__sound {
    position: relative;
    &:hover {
      .volume {
        visibility: visible;
        .a {
          fill: rgba(0, 0, 0, .5);;
        }
      }
    }

    .a {
      fill: $accent;
      stroke-width: 1px;
    }
  }
  &__fullscreen {
    // visibility: hidden;
    &-icon {
      .a {
        fill: $accent;
      }
    }
  }
    
  &__play-button {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    border: none;
    outline: none;
    &:hover {
      .a {
        opacity: .9;
      }
    }

    .a {
      fill: $accent;
    }

    .b {
      fill: #333;
    }
  }

  &__play-button.plyr__control--overlaid {
    display: flex;
    width: 100%;

  }
  .plyr__control.plyr__tab-focus {
    box-shadow: none;
  }
  .plyr--stopped {
    .video-player__sound,
    .video-player__fullscreen,
    .plyr__progress {
      visibility: hidden;  
    }
  }
  .plyr__progress {
    margin-right: 13px;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
  }
  .plyr--full-ui input[type='range'] {
    color: $accent;
    &::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      height: 0px;
      width: 0px;
    }
  }
  .plyr__progress .plyr__tooltip {
    font-size: 16px;
  }
  .plyr__tooltip {
    background: none;
    font-family: 'Open Sans';
    color: $white;
    margin-bottom: 0;
    &:before {
      display: none;
    }
  }
  .plyr--video .plyr__control.plyr__tab-focus, 
  .plyr--video .plyr__control[aria-expanded='true'] {
    color: $accent;
  }
  .plyr--video .plyr__control:hover {
    color: $white;
    background: none;
  }
  .plyr__control--overlaid {
    background: none;
    transform: none;
  }
  .plyr__control--overlaid:hover,
  .plyr__control--overlaid:focus {
    background: none;
  }
  .plyr__video-wrapper {
    display: flex;
    align-items: center;
  }
  
  .plyr__poster {
    background-size: 100% 100%;
  }
}

.volume {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 150px;
  position: absolute;
  top: -100px;
  right: 0;
  visibility: hidden;

  .a {
    fill: rgba(#000000, 0);
    opacity:0.6;
  }

  .b,
  .e {
    fill:none;
  }

  .b {
    stroke: $accent;
  }

  .c {
    fill: $accent;
  }

  .d {
    stroke:none;
  }
}

@media (max-width: 1200px) {
  .video-text-box {
    padding: 0 0 0 15px;
  }
  .video-text {
    margin-bottom: 15px;
  }
  .video-player {
    padding: 0 0 0 15px;
  }
  .video-wrap {
    flex: 0 1 80%;
  }
}
@media (max-width: 900px) {
  .video-player {
    height: auto;
    .plyr,
    .plyr__video-wrapper {
      height: 500px;
    }
  }

  .video-box {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .video-player {
    padding: 0 15px;
    height: auto;
  }

  .video-text-box {
    padding: 15px 0 0 15px;
  }

  .video-text {
    max-width: none;
  }
}
@media (max-width: 700px) {
  .video-player {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .video-text-box {
    padding: 0 15px 0 15px;
  }

  .video-text {
    &__title {
      font-size: 20px;
      margin: 30px 0 12px;
    }
    &__text {
      font-size: 14px;
    }
  }
}
// End Video Block

// Single Family
.single-family-section {
  height: 804px;
}

.single-family-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  background: url(../img/single-family_bg.png);
  position: relative;
  background-position: right center;
  background-size: cover;
  &__next-button {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 47.2%;
    user-select: none;
    display: flex;
    align-items: center;
  }
  &__next-button-icon {
    width: 60px;
    height: 23px;
  }
}
.single-family {
  flex: 0 1 49%;
  padding: 182px 210px 200px 215px;
  background-color: rgba(255, 255, 255, 0.7);
  &__title {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-top: 1px;
  }
  
  &__subtitle {
    font-size: 24px;
    font-weight: 800;
    margin: 67px 0 19px;
    letter-spacing: 0.2px;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.15px;
  }

  &__button {
    margin-top: 91px;
    &:hover {
      cursor: pointer;
      .c {
        fill: $casual;
      }
    }
    .a,
    .d {
      fill:none;
    }
    .a {
      stroke: $accent;
      stroke-width:2px;
    }
    .b {
      fill: $accent;
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight: 600;
      letter-spacing: 0.3px;
    }
    .c {
      stroke: none;
    }
  }
}
.single-family-box-mobile {
  position: relative;
  display: none;
}
.single-family-bg-mobile {
  width: 100%;
  height: 400px;
  background: #ccc url(../img/single-family-mobile_bg.png) 0 0 / cover no-repeat scroll;
  position: relative;

  &__title {
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    bottom: 30px;
    left: 15px;
    color: $white;
  }

  &__next-button {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 7%;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
  }

  &__next-button-icon {
    width: 60px;
    height: 23px;
  }
}
.single-family-mobile {
  background: #F6F8F9;
  padding: 15px 30px 40px 15px;

  &__subtitle {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.45;
  }

  &__text {
    margin: 10px 0 32px
  }

  &__button {
    display: flex;
    justify-content: center;
    &:hover {
      cursor: pointer;
      .c {
        fill: $casual;
      }
    }
  }
  &__button-icon {
    .a {
      fill:none;
    }

    .b,
    .d {
      fill: $accent;
    }

    .b {
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 700;
    }

    .c,
    .d {
      stroke:none;
    }
  }
}
@media (max-width: 1599px) {
  .single-family-section {
    height: auto;
  }
  .single-family {
    padding: 100px 100px 50px 100px;
  }
}
@media (max-width: 1200px) {
  .single-family {
    padding: 80px 50px 50px 50px;
  }
}
@media (max-width: 900px) {
  .single-family {
    padding: 40px 15px 40px 15px;
    &__subtitle {
      margin: 30px 0 15px;
    }

    &__button {
      margin-top: 50px;
    }
  }
}
@media (max-width: 700px) {
  .single-family-box {
    display: none;
  }
  .single-family-box-mobile {
    display: block;
  }
  .single-family {
    padding: 80px 50px 50px 50px;
    &__subtitle {
      margin: 12px 0 9px;
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
// End Single Family

// Our Team
.our-team-container {
  padding: 132px 0 60px 0;
}

.our-team-text {
  padding: 0 310px 0 215px;
  &__head {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.5px;
    max-width: 600px;
    margin-top: 1px;
  }

  &__box {
    padding: 50px 0 90px;
    display: flex;
  }

  &__subtitle {
    flex: 1.2;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.24px;
    margin-top: 1px;
  }

  &__text {
    flex: 1;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 31px;
    line-height: 1.45;
    letter-spacing: .15px;
    color: $text2;
  }
}

.our-team-cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 200px;
}

.our-team-card {
  flex: 33.333%;
  padding: 0 15px;
  margin-bottom: 66px;
  position: relative;
  &__image-wrap {
    display: flex;
    justify-content: center;
  }

  &__image {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    max-width: fit-content;
  }

  &__img {
    width: 100%;
  }

  &__title {
    margin: 17px 0 0; 
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.2px;
  }

  &__text {
    color: $text;
    letter-spacing: 0.2px;
  }
}
.audio-player {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  .plyr__control {
    .audio-player__play-icon {
      width: 50px;
      height: 50px; 
      padding: 0;
    }
  }
  .plyr {
    min-width: auto;
    height: inherit;
  }
  .plyr__controls {
    height: inherit;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  .plyr--audio .plyr__controls {
    background: none;
  }
  
  .plyr--audio .plyr__control[aria-expanded='true'] {
    background: $accent;
  }
  .plyr--audio .plyr__control.plyr__tab-focus,
  .plyr--audio .plyr__control:hover {
    background: none;
  }

  &__play {
    &:hover {
      background: none;
    }
    padding: 0;
  }

  &__pause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
  }

  &__sound {
    position: relative;
    min-width: 50px;
    margin: 0px 1px 3px 0px;
    &:hover {
      .volume {
        visibility: visible;
        width: 48px;
        position: absolute;
        top: -103px;
        .a {
          fill: rgba(0, 0, 0, .5);
        }
      }
    }

    &:focus {
      outline: none;
    }

    .a {
      fill: $accent;
      stroke-width: 1px;
    }
  }
  &__sound-icon {
    width: 30px;
    height: 26px;
  }
}
.dots-box {
  display: none;
  width: 100%;
  justify-content: center;
  padding: 20px 0 25px;
  &__dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $accent;
    opacity: .5;
    margin: 0 5px;
    &--active {
      opacity: 1;;
    }
  }
}

@media (max-width: 1599px) {
  .our-team-text {
    padding: 0 150px 0 150px;
  }
  .our-team-cards {
    padding: 0 135px;
  }
  .our-team-card {
    &__title, 
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .our-team-container {
    padding: 90px 0 50px
  }
  .our-team-text {
    padding: 0 80px;
  }
  .our-team-cards {
    padding: 0;
  }
}
@media (max-width: 900px) {
  .our-team-container {
    padding: 50px 0 15px
  }
  .our-team-text {
    padding: 0 5%;
    &__box {
      padding: 25px 0 50px;
    }
  }
}
@media (max-width: 800px) {
  .dots-box {
    display: flex;
  }
  .our-team-text {
    &__box {
      flex-direction: column;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__text {
      margin: 0;
    }
  }
  .our-team-card {
    margin-bottom: 0;
    &:not(:first-child) {
      display: none;
    }
  }
}
@media (max-width: 500px) {
  .our-team-card {
    padding: 0;
  }
  .our-team-text {
    &__box {
      flex-direction: column;
      padding: 25px 0 30px;
    }

    &__head {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }
    
    &__subtitle {
      margin-bottom: 20px;
    }

    &__text {
      margin: 0;
    }
  }
}

// End Our team

// Contacts
.contacts-box {
  justify-content: center;
  padding: 0 15px;
}
.contacts-head {
  font-size: 45px;
  font-weight: 800;
  color: $white;
  letter-spacing: 0.44px;
  line-height: 1.65;
  margin-top: 1px;
}
.contacts-container {
  display: flex;
  justify-content: center;
  padding: 130px 0 212px;
  background: url(../img/contacts_bg.png);
}

.contacts-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 61px 0 0 0;
  &__input {
    color: $white;
    width: 500px;
    border-bottom: 2px solid $white;
    font-size: 18px;
    padding: 6px 0;
    &::placeholder {
      color: $white;
      font-size: 18px;
    }
  }
  &__button {
    margin: 1px 0 0 70px;
    &:hover {
      cursor: pointer;
      .a {
        fill: $casual;
      }
    }

    .a {
      fill: #fff;
    }

    .b {
      fill: $accent;
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight: 700;
    }
  }
}

@media (max-width: 900px) {
  .contacts-container {
    padding: 90px 0px 100px;
  }
  .contacts-head {
    font-size: 35px;
  }
  .contacts-form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__button {
      margin: 40px 0 0 0;
    }
  }
  
}
@media (max-width: 700px) {
  .contacts-container {
    padding: 70px 0px 8px;
  }
  .contacts-head {
    font-size: 28px;
    text-align: center;
  }
  .contacts-form {
    margin-top: 25px;
    &__input, &__input::placeholder {
      font-size: 14px;
    }

    &__field {
      width: 100%;
    }

    &__input {
      width: 100%;
    }

    &__button-icon {
      width: 186px;
      height: 45px;
    }
  }
}
@media (max-width: 700px) {
  .contacts-container {
    padding: 50px 0px 50px;
  }
}
//End Contacts

// Our projects
.our-projects-container {
  padding: 142px 0 159px 215px;
}
.our-projects-head {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 0.35px;
  line-height: 1.78;
}
.our-projects-cards {
  display: flex;
  margin: 81px 0 0 0;
}
.our-projects-card {
  min-width: 419px;
  height: 745px;
  position: relative;
  overflow-x: hidden;
  &:nth-child(4) {
    min-width: 128px;
    height: 745px;
  }

  &:hover {
    .our-projects-card--hover {
      opacity: 1;
      transition: all .5s ease;
    }
  }

  &--hover {
    background: rgba(#272727, 0.8);
    opacity: 0;
    width: 100%;
    height: inherit;
    max-height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    letter-spacing: 0.35px;
  }

  &__image {
    width: 100%;
    height: inherit;
    max-height: inherit;
  }

  &__title {
    font-size: 35px;
    font-weight: 800;
    position: absolute;
    left: 50px;
    bottom: 43px;
    color: $white;
  }

  &__next-button {
    display: none;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 15px;
    text-align: center;
    user-select: none;
    align-items: center;
  }

  &__next-button-icon {
    width: 60px;
    height: 23px;
  }
}
@media (max-width: 1599px) {
  .our-projects-container {
    padding: 142px 0 160px 150px;
  }
}

@media (max-width: 1200px) {
  .our-projects-container {
    padding: 142px 0 160px 80px;
  }

  .our-projects-card {
    min-width: 30%;
    max-height: 500px;
    overflow: hidden;
  }
}

@media (max-width: 900px) {
  .our-projects-container {
    padding: 90px 0 100px 5%;
  }

  .our-projects-card {
    max-height: 350px;
  }
}

@media (max-width: 700px) {
  .our-projects-container {
    padding: 50px 0 40px;
  }

  .our-projects-cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .our-projects-card {
    &:not(:first-child) {
      display: none;
    }

    &--hover {
      opacity: 1;
      background: none;
    }

    &__title {
      left: 15px;
      bottom: 30px;
    }

    &__next-button {
      display: flex;
    }
  }
}

@media (max-width: 500px) {
  .our-projects-head {
    margin-left: 15px;
    font-size: 28px;
  }

  .our-projects-cards {
    margin: 20px 0 0;
  }

  .our-projects-card {
    width: 100%;
  }

}

  // End Our projects

// Footer
.footer-container {
  padding: 49px 215px 70px 215px;
  border-top: 1px solid rgba(#000, .85);
}

.footer-box {
  display: flex;
}

.footer-menu {
  flex: 1;
  display: flex;
  
  &__list {
    width: 100%;
    &:nth-child(1) {
      max-width: 151px;
    }

    &:nth-child(2) {
      max-width: 170px;
    }

    &:nth-child(3) {
      max-width: 168px;
    }

    &:nth-child(4) {
      max-width: 136px;
    }
  }

  &__link {
    &:hover {
      text-decoration: none;
      color: $text;
      opacity: .8;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 800;
    color: $text;
    margin-bottom: 6px;
    letter-spacing: 0px;
    line-height: 1.5;
  }

  &__item {
    font-size: 14px;
    line-height: 2.55;
    letter-spacing: 0.14px;
    margin-bottom: -1px;
  }
}
.footer-others {
  flex: 0 1 124px;
  display: flex;
  flex-direction: column;
}
.copyright {
  margin: 79px 0 0 0;
  &__icon {
    .a {
      fill:#333;
    }
  }

  &__text-box {
    margin-top: 18px;
  }

  &__text {
    font-size: 14px;
    letter-spacing: 0.1px;
  }
}
@media (max-width: 1200px) {
  .footer-container {
    padding: 48px 80px 70px;
  }
}
@media (max-width: 900px) {
  .footer-container {
    padding: 30px 5% 50px;
  }
}
@media (max-width: 700px) {
  .footer-menu {
    flex-wrap: wrap;
    &__title {
      font-size: 14px;
      font-weight: bold;
    }

    &__list {
      flex: 0 1 33%;
      min-width: 33%;
    }

    &__item {
      display: none;
    }
  }
  .footer-box {
    flex-direction: column;
  }
  .footer-others {
    margin-top: 35px;
    flex: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    .socials {
      order: 2;
    }
    .copyright {
      order: 1;
      margin: 0;
      display: flex;
      align-items: flex-start;
      &__icon {
        width: 30px;
        height: 30px;
      }

      &__text-box {
        margin: -6px 0 0 15px;
      }

      &__text {
        font-size: 12px;
      }
    }
  }
}
// End Footer
