$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

//colors
$accent: #FF9C41;
$casual: #FF9C411A;

//text
$head: #333;
$title: #333;
$text: #333;
$text2: #676767;
$white: #FFF;
$light: #FFF;

$lgrey: #AAA;
$grey: #888;
$dgrey: #555;

$h1: 72;
$h2: 20;
$h3: 18;
$p: 16;
$span: 14;

//forms
$fail: red;
$warn: yellow;
$success: green;

$bg-color: #333366;